<h1 class="text-center">Enter Start Game Options</h1>


<div class="text-center">
<label for="Name">Player Name</label>
<input type="text" id="Name" list="Players">
<datalist id="Players">
    <option value="Test1"></option>
    <option value="Test2"></option>
</datalist>
<br/>
<label for="AmountBot">Amount Bot</label>
    <select id="AmountBot">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
<br/>
    <a routerLink="/gameProcess">Start Game</a>
</div>