<div class="text-center container ">

    <h2>Player Name: {{model?.player.name}}</h2>

    <h3>{{model?.round.winner}}</h3>
    <div class="row">
        <div class="col-md-6">
            <h3>Game Number: {{model?.game.gameNumber}}</h3>
        </div>
        <div class="col-md-6">
            <h3>Round Number: {{model?.round.roundNumber}}</h3>
        </div>
    </div>

    <div class="field text-center">
        <img src="/Content/Img/bj.jpg" alt="Alternate Text" />
    </div>
    

    <div class="row">
    <div class="player col-md-2">
        <p><span *ngFor="let card of model?.player.playerRoundHand.hand"><img src="{{card.imgPath}}" alt="Alternate Text"/>, </span> </p>
        <p>{{model?.player.playerRoundHand.score}}</p>
        <h4>{{model?.player.name}}</h4>
    </div>
    <hr>

    <div *ngFor="let bot of model?.bots " class="player col-md-2">
        <p><span *ngFor="let card of bot?.playerRoundHand.hand"><img src="{{card.imgPath}}" alt="Alternate Text"/>,</span> </p>
        <p>{{bot.playerRoundHand.score}}</p>
        <h4>{{bot.name}}</h4>
    </div>
    <hr>
</div>
    <div class="dealer col-md-2">
        <h4>{{model?.dealer.name}}</h4>
        <p>{{model?.dealer.playerRoundHand.score}}</p>
        <p><span *ngFor="let card of model?.dealer.playerRoundHand.hand"><img src="{{card.imgPath}}" alt="Alternate Text"/>,</span></p>
    </div>

    <div class="text-right">
        <button kendoButton (click)="getFirstDealClick()">Start Game</button>
        <button kendoButton (click)="getCardClick()">Get Card</button>
        <button kendoButton (click)="getWinner()">Stop</button>
        <button kendoButton (click)="newRound()">End Round</button>
    </div>

</div>
