.field {
    margin-top: 150px;
    width: 100%;
    height: 70%;
    min-height: 400px;
    background-color: darkred;
}
.dealer{
    position: absolute;
    width: 100px;
    padding: 5px;
    top: 200px;
    left:  47%;
}
.SelectAmountBots{
    width: 100px;
    height: 30px;
    
}
.Score{
    font-weight: bold;
}
.Hand{
    font-weight: bold;
}
