<div class="container">
    <kendo-grid [data]="model?.Players" (details)="editHandler($event)">
        <kendo-grid-column field="Id" width="10"></kendo-grid-column>
        <kendo-grid-column field="Name" title="Name" width="30"></kendo-grid-column>
        <kendo-grid-column field="GameAmount" title="Games" width="30"></kendo-grid-column>
        <kendo-grid-command-column title="Command" width="30">
            <ng-template kendoGridCellTemplate let-data>
                <a routerLink="/getGames/{{data.Id}}">Details</a>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>
