<div class="container">
    <kendo-grid [data]="model?.players" (details)="editHandler($event)">
        <kendo-grid-column field="id" width="10"></kendo-grid-column>
        <kendo-grid-column field="name" title="Name" width="30"></kendo-grid-column>
        <kendo-grid-column field="gameAmount" title="Games" width="30"></kendo-grid-column>
        <kendo-grid-command-column title="Command" width="30">
            <ng-template kendoGridCellTemplate let-data>
                <a routerLink="/getGames/{{data.id}}">Details</a>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</div>
